.main-introduction {
  position: relative;
  left: calc(50% - 36rem);
  display: inline-block;
  margin: 0 8rem;
  text-align: center;
}

.doctor-detail {
  display: inline-block;
  margin-left: 5rem;
  margin-right: 5rem;
}

#number1 {
  display: block;
  text-align: center;
  height: 7rem;
}

#number2 {
  display: block;
  text-align: center;
  height: 7rem;
}

#number3 {
  display: block;
  text-align: center;
  height: 7rem;
}
#direction .doctor-detail {
  width: 45rem;
  min-width: 32rem;
  height: 7rem;
  text-align: center;
}
